# Dependencies
node_modules

# Build output
dist
.turbo

# Development
*.log
.env*
!.env.example

# IDE
.vscode
.idea

# Testing
coverage
*.test.ts
__tests__

# Documentation
*.md
!README.md

# Git
.git
.gitignore
